@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

body {
    background-image: linear-gradient(orange, brown);
    font-family: "Oxygen", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.logo {
    border-radius: 10px;
    width: 80px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 95%;
}

nav a {
    color: orange;
    text-decoration: none;
    font-size: 27px;
    transition: 0.3s;
    margin-top: 5px;
}

nav a:hover {
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    transform: scale(1.1);
}

main {
    padding: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
}

.new_post {
    border: 2px solid rgb(255, 149, 0);
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.new_post img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

.text-content {
    flex-grow: 1;
    text-align: left;
}

.new_post h3 {
    margin: 0;
    font-size: 22px;
    line-height: 1.2;
}

.new_post p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
}

footer {
    border: 2px solid rgb(255, 149, 0);
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    color: rgb(255, 153, 0);
    text-shadow: 0px 0px 10px black;
    background-color: black;
}

.links_footer {
    color: rgb(255, 166, 0);
    display: flex;
    align-items: center;
}

.links_footer a {
    margin-left: 10px;
    margin-right: 10px;
}
